*{
    font-family: "Barlow";
}
a.headerlink {
    text-decoration: none;
    border: 15px solid transparent;
    background-color:#e8eff2 ;
    border-radius: 5px;
    color: black;
    font-size: smaller;
    margin-left: 80%;
}
h1{
    color: style=#d5dceb;
}
.firsttxt{
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}
a.twobutton{
    text-decoration: none;
    border: 12px solid transparent ;
    background-color:#f16718 ;
    border-radius: 5px;
    color: white;
    width: 130px;
    margin-top: 30px;
    margin-left: 20px;
}
.img1{
    display: inline-block;
    border: 1px;
    border-radius: 15px;
    margin-left: 50%;
    width: 500px;
    height: 100%;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.5);
    margin-top: 2px;
    margin-bottom: 60px;
}
.p1{
    display: inline-block;
    width: 5%;
    height: 200px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color:rgba(119, 118, 118 , 30%);

}
.img2{
    display: inline-block;
    border: 3px;
    border-radius: 30px;
    width: 400px;
    height: 500px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.5);
    margin: 10px;


}
.img3{
    width: 250px;
    height: 500px;
    border-radius: 50px;
    margin: 10px 20px;
}
.txt1{
    font-size: medium;
    margin-left: 10px;
    padding-bottom: 70px;

}
.img4{
    border: 1px solid #f16718;
    border-radius: 16px;
    padding-left: 5px;
    margin:auto;
    margin-bottom: 20px;
}
h3{
    margin-right: 6%;
}
li{
    list-style-type: none;
    text-align: center;
}
ul p{
    color: #999fa1;
}
footer{
    text-align: center;
    font-size: small;
    color: #4a4e50;
}
